@import './variables.scss';

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 100%;
  min-height: 70vh;
  box-shadow: $shadow;
  background-color: $white;
  border-radius: $rounded;
  transition: box-shadow 0.3s ease;
  padding: 2rem;
}

.link {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  &:hover span {
    font-weight: 600;
  }
  span {
    margin-left: 0.5rem;
  }
}

.poster {
  width: 100%;
  max-width: 400px;
}

.info {
  flex: 1;
  min-width: 400px;

  h1 {
    margin-bottom: 1rem;
    span {
      font-size: 0.9em;
    }
  }

  > p {
    font-size: 0.9rem;
    margin: 4px 0;
    font-weight: 600;

    span {
      color: $black-50;
      font-weight: 500;
    }
  }

  > div {
    margin: 2rem 0;
  }
}
