$black-100: #0e182a;
$black-50: #434449;
$gray-50: #f1f2f7;
$gray-75: #afafaf;
$text-color: #f6f6f6;
$white: #fff;

$rounded: 8px;

$shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
$shadow-lg: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}
