@import '../styles/variables.scss';

.formContainer {
  position: relative;
  padding: 1rem;
  background-color: $white;
  border-radius: $rounded;
  box-shadow: $shadow-sm;
}

.searchInput {
  border-radius: 3px;
  border: 1px solid $gray-50;
  background: $gray-50;
  padding: 8px 12px;
  width: 100%;
}

.searchContainer {
  position: relative;

  button[type='submit'] {
    position: absolute;
    width: auto;
    right: 0;
    padding: 10px 15px;
    border: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
    background: $gray-50;
    color: $black-100;

    &:active {
      background-color: $gray-75;
    }

    &:before {
      content: '';
      width: 1px;
      height: 70%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color: $gray-75;
    }
  }

  .autoComplete {
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    list-style: none;
    background: $white;
    box-shadow: $shadow;
    border-radius: $rounded;
    z-index: 10;

    li {
      padding: 0.3rem 0.5rem;
      cursor: pointer;
      &:hover {
        background-color: $gray-50;
      }
    }
  }
}
