@import '../styles/variables.scss';

.container {
  width: 100%;
  box-shadow: $shadow;
  background-color: $white;
  border-radius: $rounded;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: $shadow-lg;

    img {
      @include transform(scale(1.1));
    }
  }

  .poster {
    aspect-ratio: 4/6;
    overflow: hidden;

    img {
      @include transition(all 0.2s ease);
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    span {
      font-size: 0.8em;
    }
  }
}

.button {
  border-radius: 5px;
  border: 1px solid $black-100;
  color: $black-100;
  background-color: $white;
  padding: 0.5em 1.25em;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    background-color: $gray-50;
  }
}
