.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;
  margin: 2rem 0;
}

.centerContainer {
  margin: 2rem 0;
  display: flex;
  justify-content: center;

  p {
    font-size: 1.25em;
  }
}
