@import './styles/variables.scss';

html {
  font-size: 16px;
  font-weight: 500;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// * {
//   -webkit-transition: all 0.2s ease;
//   -moz-transition: all 0.2s ease;
//   -ms-transition: all 0.2s ease;
//   -o-transition: all 0.2s ease;
//   transition: all 0.2s ease;
// }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  line-height: 1.5;
  color: $black-100;
  background-color: rgba(243, 244, 246);
}

input:focus-visible {
  outline-offset: 2px;
}

button:hover {
  cursor: pointer;
}

img {
  display: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 960px;
  margin: auto;
  padding: 4rem 2rem;
}

svg {
  width: 25px;
  height: 25px;
}
